<div class="about-main">
  <h1>About Us</h1>
</div>

<div class="about-supporting">
  <h2>Capture Your Journey</h2>
  <p>Stories is your ultimate travel journal app, designed to help you record and share your adventures effortlessly.</p>
  <%= link_to "Sign Up", new_signup_path, class:"btn"%>
</div>
